<a href="https://colab.research.google.com/github/Rushi-2003/CODSOFT/blob/main/CODSOFT_TASK4_SALES__PREDICTION_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORRTING THE LIBRARIES

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

LOADING THE DATASET

In [3]:
path = '/content/car_purchasing.csv'
data = pd.read_csv(path, encoding='latin-1')

DEATILS  OF THE DATASET

In [4]:
data.head()

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248

In [5]:
data.head

<bound method NDFrame.head of        customer name                                    customer e-mail  \
0      Martina Avila  cubilia.Curae.Phasellus@quisaccumsanconvallis.edu
1      Harlan Barnes                                eu.dolor@diam.co.uk
2    Naomi Rodriquez  vulputate.mauris.sagittis@ametconsectetueradip...
3    Jade Cunningham                            malesuada@dignissim.com
4       Cedric Leach     felis.ullamcorper.viverra@egetmollislectus.net
..               ...                                                ...
495           Walter                                ligula@Cumsociis.ca
496            Vanna                 Cum.sociis.natoque@Sedmolestie.edu
497            Pearl                      penatibus.et@massanonante.com
498             Nell                  Quisque.varius@arcuVivamussit.net
499            Marla                          Camaron.marla@hotmail.com

          country  gender        age  annual Salary  credit card debt  \
0        Bulgaria       0  41.851720    62812.09301      11609.380910
1          Belize       0  40.870623    66646.89292       9572.957136
2         Algeria       1  43.152897    53798.55112      11160.355060
3    Cook Islands       1  58.271369    79370.03798      14426.164850
4          Brazil       1  57.313749    59729.15130       5358.712177
..            ...     ...        ...            ...               ...
495         Nepal       0  41.462515    71942.40291       6995.902524
496      Zimbabwe       1  37.642000    56039.49793      12301.456790
497   Philippines       1  53.943497    68888.77805      10611.606860
498      Botswana       1  59.160509    49811.99062      14013.034510
499        marlal       1  46.731152    61370.67766       9391.341628

       net worth  car purchase amount
0    238961.2505          35321.45877
1    530973.9078          45115.52566
2    638467.1773          42925.70921
3    548599.0524          67422.36313
4    560304.0671          55915.46248
..           ...                  ...
495  541670.1016          48901.44342
496  360419.0988          31491.41457
497  764531.3203          64147.28888
498  337826.6382          45442.15353
499  462946.4924          45107.22566

[500 rows x 9 columns]>

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer name        500 non-null    object
 1   customer e-mail      500 non-null    object
 2   country              500 non-null    object
 3   gender               500 non-null    int64
 4   age                  500 non-null    float64
 5   annual Salary        500 non-null    float64
 6   credit card debt     500 non-null    float64
 7   net worth            500 non-null    float64
 8   car purchase amount  500 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 35.3+ KB

In [7]:
data.info

<bound method DataFrame.info of        customer name                                    customer e-mail  \
0      Martina Avila  cubilia.Curae.Phasellus@quisaccumsanconvallis.edu
1      Harlan Barnes                                eu.dolor@diam.co.uk
2    Naomi Rodriquez  vulputate.mauris.sagittis@ametconsectetueradip...
3    Jade Cunningham                            malesuada@dignissim.com
4       Cedric Leach     felis.ullamcorper.viverra@egetmollislectus.net
..               ...                                                ...
495           Walter                                ligula@Cumsociis.ca
496            Vanna                 Cum.sociis.natoque@Sedmolestie.edu
497            Pearl                      penatibus.et@massanonante.com
498             Nell                  Quisque.varius@arcuVivamussit.net
499            Marla                          Camaron.marla@hotmail.com

          country  gender        age  annual Salary  credit card debt  \
0        Bulgaria       0  41.851720    62812.09301      11609.380910
1          Belize       0  40.870623    66646.89292       9572.957136
2         Algeria       1  43.152897    53798.55112      11160.355060
3    Cook Islands       1  58.271369    79370.03798      14426.164850
4          Brazil       1  57.313749    59729.15130       5358.712177
..            ...     ...        ...            ...               ...
495         Nepal       0  41.462515    71942.40291       6995.902524
496      Zimbabwe       1  37.642000    56039.49793      12301.456790
497   Philippines       1  53.943497    68888.77805      10611.606860
498      Botswana       1  59.160509    49811.99062      14013.034510
499        marlal       1  46.731152    61370.67766       9391.341628

       net worth  car purchase amount
0    238961.2505          35321.45877
1    530973.9078          45115.52566
2    638467.1773          42925.70921
3    548599.0524          67422.36313
4    560304.0671          55915.46248
..           ...                  ...
495  541670.1016          48901.44342
496  360419.0988          31491.41457
497  764531.3203          64147.28888
498  337826.6382          45442.15353
499  462946.4924          45107.22566

[500 rows x 9 columns]>

In [8]:
data.shape

(500, 9)

In [9]:
data.size

4500

STASTICAL ANALYSIS OF THE DATASET

In [10]:
data.describe()

,gender,age,annual Salary,credit card debt,net worth,car purchase amount
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.506000,46.241674,62127.239608,9607.645049,431475.713625,44209.799218
std,0.500465,7.978862,11703.378228,3489.187973,173536.756340,10773.178744
min,0.000000,20.000000,20000.000000,100.000000,20000.000000,9000.000000
25%,0.000000,40.949969,54391.977195,7397.515792,299824.195900,37629.896040
50%,1.000000,46.049901,62915.497035,9655.035568,426750.120650,43997.783390
75%,1.000000,51.612263,70117.862005,11798.867487,557324.478725,51254.709517
max,1.000000,70.000000,100000.000000,20000.000000,1000000.000000,80000.000000

In [11]:
data.isnull().sum()

customer name          0
customer e-mail        0
country                0
gender                 0
age                    0
annual Salary          0
credit card debt       0
net worth              0
car purchase amount    0
dtype: int64

  SPLITTING THE FEATURES AND VARIABLES OF DATASET

In [12]:
# Split the Features and Target variables
x = data[['TV', 'Radio', 'Newspaper']]
y = data['Sales']

KeyError: ignored

SPLITTING THE TRAINING DATA AND TESTING DATA

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

TRAINING MODEL LINEAR REGRESSION

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train, y_train)

LinearRegression()

PREDICTIONS

In [ ]:
y_pred = model.predict(X_test)

EVALUATING THE MODEL

In [ ]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error: ", mse)
print("R-Squared: ", r2)

Mean Squared Error:  2.9077569102710896
R-Squared:  0.9059011844150826

CHECKING THE MODEL WITH INPUTS

In [ ]:
tv_ad = float(input("Enter the TV advertising expenditure: "))
radio_ad = float(input("Enter the Radio advertising expenditure: "))
newspaper_ad = float(input("Enter the newspaper advertising expenditure: "))

# Creating a new DataFrame with the user input
new_data = pd.DataFrame({'TV': [tv_ad], 'Radio': [radio_ad], 'Newspaper': [newspaper_ad]})

# Making predictions using the trained model
predicted_sales = model.predict(new_data)

print("Predicted Sales: ", predicted_sales[0])

Enter the TV advertising expenditure: 133
Enter the Radio advertising expenditure: 30
Enter the newspaper advertising expenditure: 22
Predicted Sales:  15.08762652543778